	<ion-view view-title=" Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/atomo_quantico/principal" >
					<i class="icon ion-ios-home" ></i>
					<p>{{ "Principal" | translate }}</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink" ng-click="openURL('https://chat.whatsapp.com/invite/9OFtwoeHCniGmigqg1BE0Y')" >
					<i class="icon ion-android-film" ></i>
					<p>{{ "Grupo WhatsApp" | translate }}</p>
				</a>
				<a class="col-33 no-border light calm-bg ink" ng-click="openURL('http://www.youtube.com/c/AtomoQuantico')" >
					<i class="icon ion-android-film" ></i>
					<p>{{ "Canal YouTube" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light calm-900-bg ink"  ng-href="#/atomo_quantico/sobre" >
					<i class="icon ion-android-alert" ></i>
					<p>{{ "Sobre" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>
		<br/>
		<br/>
		<br/>
		<br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
