	<ion-view view-title="&lt;img src=&quot;data/images/icon/atomo-quantico-transparente-icon 16x16.png&quot; class=&quot;page-logo&quot; /&gt; Sobre" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-about_us" class=" page-about_us">
		<div class="padding scroll">

    <div class="padding about_us-box">
        <h2>&Aacute;tomo Qu&acirc;ntico</h2>
        <div>
            Seu canal sobre f&iacute;sica qu&acirc;ntica na internet.
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior about_us-box">
     
      <!--
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="positive icon ion-social-facebook"></i>
        Like Us on Facebook
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="assertive icon ion-social-googleplus"></i>
        Join us on Google+
      </a>
      
      <a class="item item-icon-left" ng-click="openURL('')" >
        <i class="calm icon ion-social-twitter"></i>
       Follow me on Twitter
      </a>
      -->
       <a class="item item-icon-left" ng-click="openURL('mailto://atomoquantico@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        Entre em contato conosco
        <p>
            Email: atomoquantico@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
