	<ion-view view-title=" Sobre" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-sobre" class=" page-sobre">
		<div class="padding scroll">

    <div class="padding sobre-box">
        <h2>&Aacute;tomo Qu&acirc;ntico</h2>
        <div>
            Este aplicativo tem como objetivo centralizar e organizar todas as informa&ccedil;&otilde;es para o estudo e pr&aacute;tica da F&iacute;sica Qu&acirc;ntica e Resson&acirc;ncia Harm&ocirc;nica.<br /><br />Nossa miss&atilde;o &eacute; levar este conte&uacute;do para o maior n&uacute;mero de pessoas e facilitar seu estudo, de forma correta na ordem em que devem ser assistidos.
        </div>
    </div>
    <br/>

    <div class="disable-user-behavior sobre-box">
     
      
       <a class="item item-icon-left" ng-click="openURL('mailto://atomoquantico@gmail.com')" >
        <i class="icon ion-android-mail royal"></i>
        Entre em contato conosco
        <p>
            Email: atomoquantico@gmail.com
        </p>
      </a>
      
    </div>
    <br/>
</div>
<br/><br/><br/>

		</ion-content>
		<!-- ./content -->
	</ion-view>
