<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<ion-content delegate-handle="top" class="padding" style="background-color: #ffffff;">
		
		<div class="dashboard-panel">
			<h4 class="text-center padding">Bem-vindo(a)</h4>

			<div class="row">
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.horoscopo">
					<i class="icon ion-planet" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Horóscopo</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.mensagens">
					<i class="icon ion-quote" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Mensagens</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.chat">
					<i class="icon ion-chatbubbles" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Chat</p>
				</a>
			</div>
			
			<div class="row">
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.agradecimentos">
					<i class="icon ion-heart" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Gratidão</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.postagens">
					<i class="icon ion-ios-paper" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Postagens</p>
				</a>
				<a class="col-33 no-border light positive-900-bg ink" ui-sref="atomo_quantico.sobre">
					<i class="icon ion-android-alert" style="font-size: 32px; display: block; margin-bottom: 5px;"></i>
					<p>Sobre</p>
				</a>
			</div>
			

		</div>
		</ion-content>
</ion-view>
